/*
============
Variables
============
*/

:root {
  --primaryColor: rgb(61, 43, 6);
  --mainBlack: #222;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --darkGrey: #afafaf;
  --headerBack: rgb(214, 197, 148);
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.2rem;
}

/*
============
Global Styles
============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;
  color: var(--mainBlack);
  background-color: var(--mainWhite);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1.25rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  margin-bottom: 0;
}

p {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 2;
}

/* Button */

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  border: 3px solid var(--headerBack);
  color: var(--primaryColor);
  margin: 3rem;
  transition: var(--mainTransition);
}

.btn:hover {
  background: var(--headerBack);
  color: var(--mainWhite);
}

/*
============
Main Navbar
============
*/

.main-navbar {
  background: var(--headerBack);
  padding: 1rem 2rem;
}

.main-navbar li {
  list-style: none;
}

.main-navbar a {
  text-transform: capitalize;
  display: block;
  color: var(--primaryColor);
  padding: 1rem 0;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}

.main-navbar a:hover {
  color: var(--mainWhite);
}

@media screen and (min-width: 992px) {
  .main-navbar ul {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .main-navbar a {
    text-align: center;
  }
}

/*
============
Hero Project
============
*/

.hero-header {
  min-height: 100vh;
  background: var(--primaryColor);
  color: var(--headerBack);
  display: grid;
  justify-content: center;
  align-items: center;
}

/* .hero-banner {
  /* background-color: var(--headerBack);
  text-align: center; 
} */

.hero-banner p {
  width: 80%;
  max-width: 560px;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .hero-banner {
    padding: 0 3rem;
  }
}

@media screen and (min-width: 768px) {
  .hero-header {
    background: linear-gradient(rgba(214, 197, 148, 0.1), rgba(61, 43, 6, 0.95)),
      url("images/image-2.jpeg") center/cover fixed;
  }
}

/*
============
Card Project
============
*/

.title {
  text-align: center;
}

.cards {
  padding: 4rem 0;
}

.cards-center {
  width: 80vw;
  max-width: 1170px;
  margin: 2rem auto;
}

.card {
  border: 1px solid var(--darkGrey);
  margin-bottom: 3rem;
}

.card-info {
  padding: 1rem;
}

.card-footer {
  background-color: var(--darkGrey);
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.card-footer span {
  color: var(--primaryColor);
}

.card-footer span:hover {
  color: var(--mainWhite);
}
/*
@media screen and (min-width: 768px) {
  .cards-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1170px) {
  .cards-center {
    grid-template-columns: repeat(3, 1fr);
  }
}
*/

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr auto;
}

.card img {
  height: 100%;
}

.cards-center {
  text-transform: capitalize;
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(268px, 1fr));
}
/* 1170 - 64 */

/*
============
Tiles Projects
============
*/

.tiles {
  padding: 4rem 0;
}

.tiles-center {
  width: 90vw;
  max-width: 1170px;
  margin: 2rem auto;
  display: grid;
  row-gap: 2rem;
}

@media screen and (min-width: 786px) {
  .tiles-center {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .tiles-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1170px) {
  .tiles-center {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 200px);
    grid-template-areas:
      "a a a b"
      "a a a c"
      "d d d d"
      "e f f f"
      "e g h i";
  }
  .tiles img {
    height: 100%;
  }
  .tile-1 {
    grid-area: a;
  }
  .tile-2 {
    grid-area: b;
  }
  .tile-3 {
    grid-area: c;
  }
  .tile-4 {
    grid-area: d;
  }
  .tile-5 {
    grid-area: e;
  }
  .tile-6 {
    grid-area: f;
  }
  .tile-7 {
    grid-area: g;
  }
  .tile-8 {
    grid-area: h;
  }
  .tile-9 {
    grid-area: i;
  }
}

/*
============
Layout
============
*/

.header {
  background-color: var(--primaryColor);
  color: var(--mainWhite);
  text-align: center;
  padding: 0.5rem 0;
}

.navbar {
  background-color: var(--headerBack);
}

.navbar li {
  list-style: none;
}

.navbar a {
  padding: 1rem;
  display: inline-block;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  font-size: 1.2rem;
  transition: var(--mainTransition);
}

.navbar a:hover {
  color: var(--mainWhite);
}

.content {
  padding: 2rem;
}

.content p {
  font-size: 1rem;
}

.sidebar {
  background: var(--primaryColor);
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  color: var(--headerBack);
  font-size: 1.2rem;
}

.footer {
  background-color: var(--mainBlack);
  color: var(--mainWhite);
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1.2rem;
}

.footer p {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto auto;
}

@media screen and (min-width: 786px) {
  .navbar ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  .main {
    grid-template-columns: [start] 150px [cl1e] 1fr [cl2e] 50px [end];
    grid-template-rows: [start] auto [rw1e] 1fr [rw2e] auto [end];
  }

  .header {
    grid-column: start/end;
    grid-row: start/rw1e;
  }

  .navbar {
    grid-column: start/cl1e;
    grid-row: rw1e/rw2e;
  }

  .content {
    grid-column: cl1e/cl2e;
    grid-row: rw1e/rw2e;
  }

  .sidebar {
    grid-column: cl2e/end;
    grid-row: rw1e/rw2e;
  }

  .footer {
    grid-column: start/end;
    grid-row: rw2e/end;
  }

  .navbar ul {
    grid-template-columns: 1fr;
    align-items: center;
    min-height: 100%;
  }

  .sidebar {
    grid-template-columns: 1fr;
    align-items: center;
    min-height: 100%;
    background-color: var(--headerBack);
    color: var(--primaryColor);
  }
}
